[submodule "HPL2/dependencies/sources/volk"]
	path = HPL2/dependencies/sources/volk
	url = https://github.com/zeux/volk.git
[submodule "HPL2/dependencies/sources/glslang"]
	path = HPL2/dependencies/sources/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "HPL2/dependencies/sources/VulkanMemoryAllocator"]
	path = HPL2/dependencies/sources/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "HPL2/dependencies/sources/openal-soft"]
	path = HPL2/dependencies/sources/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "HPL2/dependencies/sources/tinyxml2"]
	path = HPL2/dependencies/sources/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "HPL2/dependencies/sources/SDL"]
	path = HPL2/dependencies/sources/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "HPL2/dependencies/sources/MathLib"]
	path = HPL2/dependencies/sources/MathLib
	url = https://github.com/NVIDIA-RTX/MathLib.git
[submodule "HPL2/dependencies/sources/Vulkan-Headers"]
	path = HPL2/dependencies/sources/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
