[submodule "extern/volk"]
	path = extern/volk
	url = https://github.com/zeux/volk.git
[submodule "extern/VulkanMemoryAllocator"]
	path = extern/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "extern/zlib"]
	path = extern/zlib
	url = https://github.com/madler/zlib.git
[submodule "extern/openal-soft"]
	path = extern/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "extern/tinyxml2"]
	path = extern/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "extern/ogg"]
	path = extern/ogg
	url = https://github.com/xiph/ogg.git
[submodule "extern/vorbis"]
	path = extern/vorbis
	url = https://github.com/xiph/vorbis.git
[submodule "extern/SDL"]
	path = extern/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "extern/MathLib"]
	path = extern/MathLib
	url = https://github.com/NVIDIA-RTX/MathLib.git
[submodule "extern/Vulkan-Headers"]
	path = extern/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "extern/tracy"]
	path = extern/tracy
	url = https://github.com/wolfpld/tracy.git
